body{
    color: white;
}

/* Generics */

.row > [class^="col"] {
    min-height: 100px;
    /*border: 2px dashed black;
    background-color: lightgray;*/
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /* margin-bottom: 1rem; */
 }

 section img{
    max-width: 100%;
 }

 section{
    padding: 1rem 0;
 }


/* background-color */
header{
    background-color:#005580;
}

#jumbotron{
    background-color: #00e6e6;
}

#portfolio{
    background-color: whitesmoke;
}

#about{
    background-color:  #00e6e6;
}

#contact-me{
    background-color: whitesmoke;
}

.footer-top{
    background-color: #005580;
}

.footer-bottom{
    background-color: #00264d;
}

/* Header */
header .ps-title, .ps-icon{
    height: 100%; 
 }

header .ps-item{
    list-style-type: none;
}

header i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
}

header .ps-nav{
    text-decoration: none;
    color: white;
    height: 100%; 
}

/* Jumbotron */
#jumbotron figure{
    width: 200px;
 }

.ps-brd-line{
    width: 50px;
    border: 1px solid white;
}

.ps-line-space{
    width: 10px;
    border: 1px solid white;
}

#jumbotron i{
    color: white;
}

/* section portfolio */
#portfolio h1, i{
    color: #005580;
}

#portfolio .ps-brd-line{
    border: 1px solid #005580;
}

#portfolio figure{
    width: 500px;
}

/* section about */
#about i{
    color: white; 
}

/* section contact me */
#contact-me{
    color: #005580;
}

#contact-me .ps-brd-line{
    border: 1px solid #005580;
}

#contact-me input,
#contact-me textarea{
    background-color: whitesmoke;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
}

#contact-me ::placeholder{
    color: rgba(0, 0, 0, 0.8)
}

#contact-me button{
    background-color:#00e6e6;
}